<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Seznam osob</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" href="/css/skeleton.css" th:href="@{/css/skeleton.css}">
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}">
</head>
<body>
<main class="container">
    <h1>Seznam osob</h1>
    <table class="u-full-width">
        <thead>
        <tr>
            <th>Jméno</th>
            <th>Příjmení</th>
            <th>Datum narození</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="osoba: ${osoby}">
            <td th:text="${osoba.jmeno}">Jan</td>
            <td th:text="${osoba.prijmeni}">Hus</td>
            <td th:text="${#temporals.format(osoba.datumNarozeni, 'd. MMMM yyyy')}">1370</td>
        </tr>
        </tbody>
    </table>
    <div class="pager">
        <a th:each="pageNumber : ${#numbers.sequence(0,osoby.totalPages-1)}"
           th:href="@{''(size=${osoby.size}, page=${pageNumber})}"
           th:text="${pageNumber + 1}"
           class="page"
           th:classappend="${pageNumber==osoby.number} ? 'active'"></a>
    </div>
    <div class="controls">
        <a th:href="@{/vyber}" class="button">Výběrový formulář</a>
    </div>
</main>
</body>
</html>
