<!DOCTYPE html>
<html lang="cs" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dotazy</title>
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css" th:href="@{/css/normalize.css}">
    <link rel="stylesheet" href="/css/skeleton.css" th:href="@{/css/skeleton.css}">
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}">
    <link rel="icon" type="image/png" href="/images/favicon.png" th:href="@{/images/favicon.png}">
</head>
<body>
<main class="container">
    <h1>Dotazy</h1>

    <h4>Zobrazit všechny záznamy</h4>
    <form th:action="@{/}" method="get">
        <div class="row">
            <div class="ten columns">Seřazené dle příjmení a jména
            </div>
            <div class="two columns submit">
                <button class="button-primary" type="submit">Zobrazit</button>
            </div>
        </div>
    </form>

    <form th:action="@{/dle-data-narozeni}" method="get">
        <div class="row">
            <div class="ten columns">Sařezané dle data narození
            </div>
            <div class="two columns submit">
                <button class="button-primary" type="submit">Zobrazit</button>
            </div>
        </div>
    </form>

    <h4>Podle roku narození</h4>
    <form th:action="@{/rok-narozeni}" method="get">
        <div class="row">
            <div class="five columns">
                <label for="od">Od</label>
                <input id="od" name="od" class="u-full-width" type="number" min="1930" max="2020">
            </div>
            <div class="five columns">
                <label for="do">Do</label>
                <input id="do" name="do" class="u-full-width" type="number" min="1930" max="2020">
            </div>
            <div class="two columns submit">
                <button class="button-primary" type="submit">Zobrazit</button>
            </div>
        </div>
    </form>

    <h4>Podle příjmení</h4>
    <form th:action="@{/prijmeni}" method="get">
        <div class="row">
            <div class="ten columns">
                <label for="prijmeni">Začátek příjmení</label>
                <input id="prijmeni" name="prijmeni" class="u-full-width" type="search">
            </div>
            <div class="two columns submit">
                <button class="button-primary" type="submit">Zobrazit</button>
            </div>
        </div>
    </form>

    <h4>Podle obce</h4>
    <form th:action="@{/obec}" method="get">
        <div class="row">
            <div class="ten columns">
                <label for="obec">Obec</label>
                <input id="obec" name="obec" class="u-full-width" type="search">
            </div>
            <div class="two columns submit">
                <button class="button-primary" type="submit">Zobrazit</button>
            </div>
        </div>
    </form>

    <h4>Podle věku</h4>
    <form th:action="@{/minimalni-vek}" method="get">
        <div class="row">
            <div class="ten columns">
                <label for="vek">Starší než</label>
                <input id="vek" name="vek" class="u-full-width" type="number" placeholder="18">
            </div>
            <div class="two columns submit">
                <button class="button-primary" type="submit">Zobrazit</button>
            </div>
        </div>
    </form>
</main>
</body>
</html>
